.wrapper
  .chat-side
    .side-header
      .side-header__box
        %h3.side-header__box__user_name 
          user1
        %ul.side-header__box__menu
          %li.side-header__box__menu__newgroup
            = link_to do
              = fa_icon "edit"
            = link_to do
              = fa_icon "cog"
    .groups
      = link_to do
        user1
  .chat-main
    .main-header__left-box
      .main-header__left-box__current-group 
        %h2.main-header__left-box__current-group__name group1
        %ul.main-header__left-box__member-list
          member:
          %li.main-header__left-box__member-list__member
            user
      .main-header__edit-btn
        = link_to do
          edit
    .messages
      tekito
    .form
      %form.new_message(type="hidden")
        .input-box
          %input(type="text" class="input-box__text")
          %label.input-box__image(for="message_image")
            %i.fa.fa-picture-o     
            %input.input-box__image__file(type="file" id="message_image")                     
        %input.submit-btn(type="submit" value="Send")